@import "tailwindcss";

@import "tailwindcss/preflight"
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  background-color: #f3f4f6; 
} */
